#f1{
    width: 100%;
    background-color: rgb(215, 234, 250);
    display: grid;
    justify-content: space-evenly;
    border: 1px solid black;
}
#f2{
    background-color: blueviolet;
    display: grid;
    border: 1px solid black;
    
}